@model StuffWorks.Models.ManageUserDetails

<form id="login-form" action="@Url.Action("Login","Account")" method="post" role="form" style="display: block;">
    <div class="row" id="changeaddressdiv" align="center">
        <div class="form-group">
            @Html.TextBoxFor(m => m.FullName, new { @class = "form-control", @id = "fullname", @placeholder = "Full Name", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.FullName, string.Empty, new { @class = "validationText" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.useremail, new { @class = "form-control", @id = "useremail", @placeholder = "Email ID", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.useremail, string.Empty, new { @class = "validationText" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @id = "phonenumber", @placeholder = "Phone Number", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.PhoneNumber, string.Empty, new { @class = "validationText" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", @id = "address1", @placeholder = "Address 1", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.Address1, string.Empty, new { @class = "validationText" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", @id = "address2", @placeholder = "Address 2", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.Address2, string.Empty, new { @class = "validationText" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", @id = "city", @placeholder = "City", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.City, string.Empty, new { @class = "validationText" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.State, new { @class = "form-control", @id = "state", @placeholder = "State", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.State, string.Empty, new { @class = "validationText" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", @id = "pincode", @placeholder = "Pincode", @style = "width:400px" })
            @Html.ValidationMessageFor(m => m.Pincode, string.Empty, new { @class = "validationText" })
        </div>
    </div>
        <br />
        <div class="row">
            <div class="col-sm-6 col-sm-offset-4" style="align-content:center">
                <input type="button" class="btn" value="Submit" name="updateuser-submit" id="updateuser-submit"  style="height:40px; width:170px; text-align:center" onclick="location.href='@Url.Action("ManageUserAccount","ManageUser")'">
            </div>
        </div>
</form>

